{
	dev = {
		p8 = ./AuthKey_DEV.p8 as Text,
		kid = "DEV_KEY_ID"
	},
	prod = {
		p8 = ./AuthKey_PROD.p8 as Text,
		kid = "PROD_KEY_ID"
	},
	team_id = "TEAM_ID",
	jid = "apns@example.com",
	password = "jid password",
	listen = "127.0.0.1:3000"
}
